<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="home">
        <h3>WELCOME IN OUR MINI WHATSAPP CHAT</h3>
        <br>
        <a href="/chats">lets go to chat</a>
    </div>
    
</body>
</html>